In [6]:
import pandas as pd
movies = pd.read_csv("http://bit.ly/imdbratings")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [6]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [7]:
movies.describe(include = ["object"])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,True Grit,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [8]:
type(movies)

pandas.core.frame.DataFrame

In [13]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [18]:
movies.rename(columns = {"star_rating" : "Star Rating", "title" : "Title", "content_rating" : "Content Rating", "genre" : "Genre", "duration" : "Duration", "actors_list":"Actors List"})

,Star Rating,Title,Content Rating,Genre,Duration,Actors List
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [27]:
movies.columns = movies.columns.str.replace(" ", "_")

In [29]:
movies.head(1000)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [7]:
movies.drop("genre", axis = 1, inplace=True)

In [8]:
movies.head(1000)

,star_rating,title,content_rating,duration,actors_list
0,9.3,The Shawshank Redemption,R,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...
974,7.4,Tootsie,PG,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [12]:
movies.drop([0,1], axis=0, inplace=True)

In [13]:
movies.head()

,star_rating,title,content_rating,duration,actors_list
2,9.1,The Godfather: Part II,R,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."

#### Axes 0 is the column axis, axes 1 is the row axis

In [20]:
movies["title"].sort_values(ascending=True)

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 977, dtype: object

In [21]:
movies["title"]

2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
5                                         12 Angry Men
6                       The Good, the Bad and the Ugly
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 977, dtype: object

In [22]:
movies.sort_values("title")

,star_rating,title,content_rating,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
...,...,...,...,...,...
955,7.4,Zero Dark Thirty,R,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
677,7.7,Zodiac,R,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
615,7.7,Zombieland,R,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
526,7.8,Zulu,UNRATED,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
864,7.5,[Rec],R,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."

In [23]:
movies.sort_values("duration")

,star_rating,title,content_rating,duration,actors_list
389,8.0,Freaks,UNRATED,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
88,8.4,The Kid,NOT RATED,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
293,8.1,Duck Soup,PASSED,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
...,...,...,...,...,...
445,7.9,The Ten Commandments,APPROVED,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
142,8.3,Lagaan: Once Upon a Time in India,PG,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
78,8.4,Once Upon a Time in America,R,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [26]:
movies.sort_values(["content_rating", "duration"])

,star_rating,title,content_rating,duration,actors_list
713,7.6,The Jungle Book,APPROVED,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
...,...,...,...,...,...
387,8.0,Midnight Cowboy,X,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
187,8.2,Butch Cassidy and the Sundance Kid,NaN,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
936,7.4,True Grit,NaN,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
649,7.7,Where Eagles Dare,NaN,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

In [28]:
import pandas as pd
movies = pd.read_csv("http://bit.ly/imdbratings", usecols = ["title", "duration"])
movies.head(1000)

                                               title  duration
0                           The Shawshank Redemption       142
1                                      The Godfather       175
2                             The Godfather: Part II       200
3                                    The Dark Knight       152
4                                       Pulp Fiction       154
..                                               ...       ...
974                                          Tootsie       116
975                      Back to the Future Part III       118
976  Master and Commander: The Far Side of the World       138
977                                      Poltergeist       114
978                                      Wall Street       126

[979 rows x 2 columns]

In [30]:
movies = pd.read_csv("http://bit.ly/imdbratings", usecols = ["title", "duration"], nrows = 25)
movies.head(25)

                                                title  duration
0                            The Shawshank Redemption       142
1                                       The Godfather       175
2                              The Godfather: Part II       200
3                                     The Dark Knight       152
4                                        Pulp Fiction       154
5                                        12 Angry Men        96
6                      The Good, the Bad and the Ugly       161
7       The Lord of the Rings: The Return of the King       201
8                                    Schindler's List       195
9                                          Fight Club       139
10  The Lord of the Rings: The Fellowship of the Ring       178
11                                          Inception       148
12     Star Wars: Episode V - The Empire Strikes Back       124
13                                       Forrest Gump       142
14              The Lord of the Rings: The Two Towers       179
15                                       Interstellar       169
16                    One Flew Over the Cuckoo's Nest       133
17                                      Seven Samurai       207
18                                         Goodfellas       146
19                                          Star Wars       121
20                                         The Matrix       136
21                                        City of God       130
22                              It's a Wonderful Life       130
23                                 The Usual Suspects       106
24                                              Se7en       127